body{
    background-color: black; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark-mode-label{
    color: aqua;
}

#switch-on-dark-mode:checked{
    accent-color: aquamarine;
}

h4{
    color: gray;  
}

.input-wrapper{
    position: relative;
    display: inline-block;
    width: 300px;
    /*margin-bottom: 20;*/ 
}

#password-display{
    width: 100%;
    font-size: 18px;
    /*padding-right: 36px; 
    padding: 8px;*/ 
}

.copy-btn{
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background: none;
    color: aquamarine;
    height: 45px;
}

.wrapper-of-the-rest{
    width: 300px;
    margin-top: 8px;
    background-color: rgba(128, 128, 128, 0.521);
    padding: 10px;
    border: solid rgba(128, 128, 128, 0.521) 2px;
    margin-left: 26.5px;
}

#password-display{
    background-color: rgba(128, 128, 128, 0.521);
    -webkit-user-select: all;
    user-select: all;
    cursor: text;
    width: 317px;
    height: 30px;
    color: white;
}

.wrapper-of-characterlength-and-value{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

#password-length-display{
    color: aquamarine;
    /*margin-top: 16px;*/
    
}

#adjust-password-length{
    accent-color: aquamarine;
    width: 300px;
}

label[for^="include"]{
    display: flex;
    gap: 8px;
    margin-bottom: 5px;
    
}

input[name^="include"]:checked{
    accent-color:aquamarine;
}

input[name^="include"]{
    display: block;
}

.wrapper-of-strength-and-strength-display{
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.password-strength{
    padding: 4px 15px 4px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.33;
}

/*.strength-display{
    margin-top: 13px;
    margin-right: 3px;
}*/ 

.strength-bars{
    display: flex;
    gap: 3px;
    margin-right: 5px;
}

div[class^="div"]{
    border: 1px solid white;
    height: 23px;
    width: 5px;
    margin-right: 2px;
    /*margin-top: 8px; 
   */
}

.wrapper-of-generate-button{
    display: flex;
    flex-direction: column;
}

.generate-button{
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
}